    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX0VlWcwn1LwhkcKVnwCOhp7wd-PoktGg&libraries=weather&sensor=false">
    </script>
    <script type="text/javascript">
		$(function() {
            if (navigator.geolocation) navigator.geolocation.getCurrentPosition(function (pos) {
				var latitude = pos.coords.latitude;
				var longitude = pos.coords.longitude;
				
				getWeatherInfo(latitude, longitude);
				
				function getWeatherInfo(latitude, longitude){
					$.ajax({
							dataType: "jsonp",
					     	url: "http://free.worldweatheronline.com/feed/weather.ashx?q=" +
					   		latitude + "," + longitude +
					       	"&format=json&num_of_days=5&key=8f468b3c2d015826131103",
							success: function(data){
								var days = data.data.weather;
								for (var i=0; i<days.length; i++){
									var selector = ".day" + i;
									$(selector).empty();
									$(selector).append(('<img src="{0}" />').replace("{0}", days[i].weatherIconUrl[0].value));
									$(selector).append("<div>" + days[i].weatherDesc[0].value + "</div>");
									$(selector).append("<div>" + days[i].tempMinF + " - " + days[i].tempMaxF + " (f)" + "</div>");
								}
							}
					});
				}
				
                var me = new google.maps.LatLng(latitude, longitude);
				
                var mapOptions = {
                    center: new google.maps.LatLng(me),
                    zoom: 8,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var weatherMap = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);   
                weatherMap.setCenter(me);

                addUserLocationToMap(weatherMap, me);

				var marker;

                function addUserLocationToMap(weatherMap, location) {
						if(marker){
							marker.setMap(null);
						 };
	
                     	marker = new google.maps.Marker({
                        clickable: false,
                        icon: new google.maps.MarkerImage('//maps.gstatic.com/mapfiles/mobile/mobileimgs2.png',
                                                            new google.maps.Size(22, 22),
                                                            new google.maps.Point(0, 18),
                                                            new google.maps.Point(11, 11)),
                        shadow: null,
                        zIndex: 999,
                        map: weatherMap
                    });

					marker.setPosition(location);
                };

				google.maps.event.addListener(weatherMap, 'click', function(event) {
				    addUserLocationToMap(weatherMap, event.latLng);
					getWeatherInfo(event.latLng.mb, event.latLng.nb);
				});

            }, function (error) {
                // handle error
            });
        });
    </script>
    <div id="map_canvas" style="width: 100%; height: 80%;">
    </div>
	<div id="forecast" style="width:100%; height: 20%;">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2 description">
					<h1>Five Day Forecast</h1>
					<span>click around</span>
				</div>
				<div class="span2 day0">
				</div>
				<div class="span2 day1">
				</div>
				<div class="span2 day2">
				</div>
				<div class="span2 day3">
				</div>
				<div class="span2 day4">
				</div>
			</div>
		</div>		
	</div>
